# 项目排除路径
/.gradle/
/build/
/build/classes/java/main/
/run/
/.idea/
/AcceleratedRecoiling-third-party/*
!/AcceleratedRecoiling-third-party/CMakeLists.txt
!/AcceleratedRecoiling-third-party/version-script
!/AcceleratedRecoiling-third-party/src/
/AcceleratedRecoiling-third-party/src/*
!/AcceleratedRecoiling-third-party/src/entity_data.cpp
!/AcceleratedRecoiling-third-party/src/entity_data.h
!/AcceleratedRecoiling-third-party/src/export.h
